<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>proximityUUID</key>
		<string>ACFD065E-C3C0-11E3-9BBE-1A514932AC01</string>
		<key>identifier</key>
		<string>BlueUp-01-000104</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>notifyEntryStateOnDisplay</key>
		<true/>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B0702880-A295-A8AB-F734-031A98A512DE</string>
		<key>identifier</key>
		<string>Mac region</string>
		<key>notifyEntryStateOnDisplay</key>
		<true/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>identifier</key>
		<string>Estimote</string>
		<key>notifyEntryStateOnDisplay</key>
		<true/>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
	</dict>
</array>
</plist>
